<!-- 
<mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()" ><mat-icon>menu</mat-icon></button>
    <button mat-button (click) = "home()">Health Care management</button>
    <span style="flex: 1 auto;"></span>
    <button *ngIf = "isAdmin" mat-button routerLink='/admin/doctor-registration'>Add Doctor</button>
    <button *ngIf = "isAdmin" mat-button routerLink='/admin/all-doctors'>All Doctors</button>
    <button *ngIf = "isAdmin" mat-button routerLink='/admin/all-patients'>All Patients</button>
    <button *ngIf = "!show" mat-raised-button routerLink='/register'> Register</button>
    <button *ngIf = "!show" mat-button routerLink='/login'>Login</button>
    
    
    <button *ngIf = "show" mat-button (click) = "logout()">Logout</button>
</mat-toolbar>
<div class="banner">
    
</div> -->