<div class="footer">
    <div class="links">
      
        
            <div class="buttons">
                <button mat-button>About Us</button>
                <button mat-button>Contact Us</button>
                <button mat-button>Latest News</button>
            </div>
            <div class="buttons">    
                <button mat-button>Events</button>
                <button mat-button>Awards</button>
                <button mat-button>Blogs</button>
            </div>
        
    </div>
    <hr>
    <div class="social">
        <div class="fabs">

        </div>
        <div class="text">            
            <p>
                Copyright &copy; 2021. All Right Reserved By <span>Health Care Management</span> <br>
                Designed and Developed by <span>Pavan</span>
            </p>
        </div>
    </div>
</div>