.container {
    width: 60vw;
    height: auto;
    padding: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
small {
    color: red;
}
label {
    font-weight: bold;
}
.col {
    padding: 5px 10px;
}
.spin {
    font-size: large;
    text-align: center;
    mat-spinner {
        margin: 10px auto;
    }
}
.w-50 {
    width: 48%;
}

@media screen and (max-width: 500px) {
    .container {
        width: 96%;
        margin: 5px 10px;
    }
    .row {
        flex-direction: column;
    }
    .w-50 {
        width: 100%;
    }
}